<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="keywords" content="函数式编程,Rust,Javascript,Haskell,Android,ReactNative,人工智能，高质量编程">
    <title>Panfp</title>
    <link rel="icon" href="/assets/logo.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js"></script>
</head>
<body>
<div id="<%= context.config.mountElementId %>"></div>
</body>
</html>
